.agenda {  font-size: 14px;
  letter-spacing: 2px;}


/* Hover */

.highlightTR:hover {
    background-color: rgba(230,230,230,0.5)
}


/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}


/* Times */
.agenda .agenda-time { width: 140px; }


/* Events */
.agenda .agenda-events {
    p {
      padding: 10px 20% 10px 20%;
      text-align: justify;
    }
  }
.agenda .agenda-events .agenda-event {  }

@media (max-width: 767px) {

}
